<?php
/**
 * Confidences ZendMixpanel Configuration
 *
 * If you have a ./config/autoload/ directory set up for your project, you can
 * drop this config file in it, remove the .dist extension add your configuration details.
 */
$settings = [

    /**
     * Your Mixpanel Credentials
     */
	'project_token' => null,
	/**
     * Your Mixpanel Options
     * Consumer : 'socket' or 'curl'
     */
    'options' => [
    	'consumer' => 'socket'
    ]
];

/**
 * You do not need to edit below this line
 */
return [
    'zend-mixpanel' => $settings,
];